body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    background-color: rgba(245,245,220, 0.3);
}

footer{
    width: 330px;
    height: auto;
    position: fixed;
    bottom: 10px;
    z-index:99;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
}

small{
    color:#242424;
    font-size: 0.9em;
}

/*
Helpers
*/
.hideThis{
    display:none!important;
}


.pull-right {
    float: right;
}

.x {
    z-index:999;
    display: block;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 32px;
    height: 32px;
    margin-right:10px;
    margin-top:10px;
    transition: transform .25s ease-in-out;
}
.x:hover {
    cursor: pointer;
    transform: rotate(180deg);
}
.x:before {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    height: 0;
    border-top: 1px solid rgba(0,0,0,0.5);
    transform: rotate(45deg);
    transform-origin: center;
}
.x:after {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    height: 0;
    border-top: 1px solid rgba(0,0,0,0.5);
    transform: rotate(-45deg);
    transform-origin: center;
}

.dropdown .text{
    padding:10px 5px 10px 5px;
}

.ui.selection.dropdown>.delete.icon, .ui.selection.dropdown>.dropdown.icon, .ui.selection.dropdown>.search.icon {
    top: 20px;
}

/*
Main
*/

#main {
    padding:0px;
    margin:0px;
}

#main .overlay {
    background: rgba(255,255,255, 0.8);
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:98;
}

#main .info {
    display: block;
    min-width: 50px;
    max-width: 450px;
    width:auto;
    height:auto;
    padding: 10px;
    font-size: 0.9em;
    text-align: center;
    position: fixed;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    bottom: -50px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index:999;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
}

#main .error {
     color: #fff;
     background-color:#DC3F3F;
}

#main .success {
    color: #fff;
    background-color:#00b5ad;
}

#main #map {
    width:100%;
    height:100%;
}

/*
Main menu
*/

#main #mainMenu {
    width:auto;
    left:10px;
    top: 10px;
    position:fixed;
    height: 60px;
    background:rgba(255, 255, 255, 0.8);
    border:1px solid rgba(0, 0, 0, 0.2);
    z-index:99;
    color:#242424;
}

#main #mainMenu ul{
    list-style: none;
    margin:0;
    padding:0;
}

#main #mainMenu ul li{
    float: left;
}


#main #mainMenu ul li a{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:20px;
    height: 60px;
}


#main #mainMenu ul li .searchBox{
    display: block;
    background-color:rgba(255,255,255,0.8);
    color:#000;
    border:none;
    height:58px;
    padding-left:15px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    width: 220px;
}

#main #mainMenu .search{
    border-radius: 0px;
    height:58px;
    padding-left:15px;
    border:none;
    border-right: 1px solid #eee;
}

#main #mainMenu .siteLogo{
    font-family: "Open Sans", sans-serif;
    font-weight:100;
    text-transform: uppercase;
    letter-spacing: 0.200rem;
    font-size: 1.3em;
    color:#242424;
}

/*
Right Panel
*/
#main #rightPane {
    z-index:100;
    border-left:1px solid #eee;
    background:rgba(255, 255, 255, 0.9);
    overflow-x:hidden;
    overflow-y:auto;
    padding: 5px;
    position:fixed;
    right:-400px;
    top:0;
    width: 400px;
    height:100%;
    -webkit-box-shadow: -2px 0px 53px -6px rgba(0,0,0,0.6);
    -moz-box-shadow: -2px 0px 53px -6px rgba(0,0,0,0.6);
    box-shadow: -2px 0px 53px -6px rgba(0,0,0,0.6);

}

#main #rightPane .grid{
    margin:0;
    padding:0;
}

#main #rightPane #primary_col{

}

#main #user_info{
    position: fixed;
    top: 80px;
    left: 15px;
    background: rgba(255,255,255,0.5);
    border:1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    color: #242424;
    font-size: 0.9em;
    transition: background 0.5s ease;
}

#main #user_info:hover{
    background: rgba(255,255,255,1);
}

#main #user_info .icon {
    font-size: 1.2em;
}

#main #rightPane .column {
    margin-bottom: 5px;
    padding: 10px;
}

#main #rightPane #foursquare_col{
    border-radius: 3px;
    background: rgba(223, 154, 234, 0.4);
}


#main #rightPane #facebook_col{

    border-radius: 3px;
    background: rgba(66, 112, 218, 0.4);
}


#main #rightPane #google_col{

    border-radius: 3px;
    background: rgba(194, 234, 154, 0.8);
}

#main #rightPane .column .loadingIcon {
    color:#242424;
    text-align: center;
    font-size: 0.9em;
}

#main #rightPane .pricing i.icon {
    margin: 0!important;;
}

#main #rightPane .voting {
    margin: 3px;
    float:right;
    display: block;
    font-size:0.9em;
}

#main #rightPane .voting a:hover{
    color:#ff0000;
}

#main #rightPane .voting .icon{
    margin:0;
}




.pull-right {
    float: right;
}


.mt20 {
    margin-top: 20px;
}

.mb15 {
    margin-bottom: 15px;
}